$pure-opacities: 10, 20, 25, 30, 40, 50, 60, 70, 75, 80, 90, 100;
$pure-spacing-unit: 0.25;

:root {
  --pureBlack: #000000;
  --pureBlackRgb: 0, 0, 0;
  --pureBlue: #0078e7;
  --pureBlueRgb: 0, 120, 231;
  --pureCyan: #00e7e7;
  --pureCyanRgb: 0, 231, 231;
  --pureGreen: #78e700;
  --pureGreenRgb: 120, 231, 0;
  --pureGrey: #808080;
  --pureGreyRgb: 128, 128, 128;
  --pureMagenta: #e74be7;
  --pureMagentaRgb: 231, 60, 231;
  --pureRed: #e70000;
  --pureRedRgb: 231, 0, 0;
  --pureWhite: #ffffff;
  --pureWhiteRgb: 255, 255, 255;
  --pureYellow: #e7e700;
  --pureYellowRgb: 231, 231, 0;

  --pureSpacingUnit: #{$pure-spacing-unit}rem;

  // Auxiliary variables (won't be needed once "color-contrast()" is supported by all major browsers).
  --pureBlackContrastRgb: 255, 255, 255;
  --pureBlueContrastRgb: 0, 0, 0;
  --pureCyanContrastRgb: 0, 0, 0;
  --pureGreenContrastRgb: 0, 0, 0;
  --pureGreyContrastRgb: 0, 0, 0;
  --pureMagentaContrastRgb: 0, 0, 0;
  --pureRedContrastRgb: 255, 255, 255;
  --pureWhiteContrastRgb: 0, 0, 0;
  --pureYellowContrastRgb: 0, 0, 0;
}

@property --pureBdOpacity {
  syntax: "<number>";
  inherits: false;
  initial-value: 1;
}

@property --pureBgOpacity {
  syntax: "<number>";
  inherits: false;
  initial-value: 1;
}

@property --pureTxtOpacity {
  syntax: "<number>";
  inherits: false;
  initial-value: 1;
}

@property --pureTxtActiveOpacity {
  syntax: "<number>";
  inherits: false;
  initial-value: 0.95;
}

@property --pureTxtHoverOpacity {
  syntax: "<number>";
  inherits: false;
  initial-value: 0.8;
}

/* HACK: We re-declare these variables for Firefox, which don't yet supports the "@property" feature */
body {
  --pureBdOpacity: 1;
  --pureBgOpacity: 1;
  --pureTxtOpacity: 1;
  --pureTxtActiveOpacity: 0.95;
  --pureTxtHoverOpacity: 0.8;
}

$rgb-color-variables: (
  "black": '--pureBlackRgb',
  "blue": '--pureBlueRgb',
  "cyan": '--pureCyanRgb',
  "green": '--pureGreenRgb',
  "grey": '--pureGreyRgb',
  "magenta": '--pureMagentaRgb',
  "red": '--pureRedRgb',
  "white": '--pureWhiteRgb',
  "yellow": '--pureYellowRgb'
);

$buttons-text-colors: (
  "black": '--pureBlackContrastRgb',
  "blue": '--pureBlueContrastRgb',
  "cyan": '--pureCyanContrastRgb',
  "green": '--pureGreenContrastRgb',
  "grey": '--pureGreyContrastRgb',
  "magenta": '--pureMagentaContrastRgb',
  "red": '--pureRedContrastRgb',
  "white": '--pureWhiteContrastRgb',
  "yellow": '--pureYellowContrastRgb'
);
