$pure-opacities: 10, 20, 25, 30, 40, 50, 60, 70, 75, 80, 90;
$pure-spacing-unit: 0.25;

:root {
  --pureBlack: #000000;
  --pureBlackRgb: 0, 0, 0;
  --pureBlue: #0078e7;
  --pureBlueRgb: 0, 120, 231;
  --pureCyan: #00e7e7;
  --pureCyanRgb: 0, 231, 231;
  --pureGreen: #78e700;
  --pureGreenRgb: 120, 231, 0;
  --pureMagenta: #e74be7;
  --pureMagentaRgb: 231, 60, 231;
  --pureRed: #e70000;
  --pureRedRgb: 231, 0, 0;
  --pureWhite: #ffffff;
  --pureWhiteRgb: 255, 255, 255;
  --pureYellow: #e7e700;
  --pureYellowRgb: 231, 231, 0;

  --pureSpacingUnit: #{$pure-spacing-unit}rem;
}

@property --pureBdOpacity {
  syntax: "<number>";
  inherits: false;
  initial-value: 1;
}

@property --pureBgOpacity {
  syntax: "<number>";
  inherits: false;
  initial-value: 1;
}

@property --pureTxtOpacity {
  syntax: "<number>";
  inherits: false;
  initial-value: 1;
}

@property --pureTxtActiveOpacity {
  syntax: "<number>";
  inherits: false;
  initial-value: 0.95;
}

@property --pureTxtHoverOpacity {
  syntax: "<number>";
  inherits: false;
  initial-value: 0.8;
}

$rgb-color-variables: (
  "black": '--pureBlackRgb',
  "blue": '--pureBlueRgb',
  "cyan": '--pureCyanRgb',
  "green": '--pureGreenRgb',
  "magenta": '--pureMagentaRgb',
  "red": '--pureRedRgb',
  "white": '--pureWhiteRgb',
  "yellow": '--pureYellowRgb'
);
