// .pure-bd-1 | .pure-bd-2 | .pure-bd-3 | .pure-bd-4 | .pure-bd-5
// .pure-bd-bottom-1 | .pure-bd-bottom-2 | .pure-bd-bottom-3 | .pure-bd-bottom-4 | .pure-bd-bottom-5
// .pure-bd-left-1 | .pure-bd-left-2 | .pure-bd-left-3 | .pure-bd-left-4 | .pure-bd-left-5
// .pure-bd-right-1 | .pure-bd-right-2 | .pure-bd-right-3 | .pure-bd-right-4 | .pure-bd-right-5
// .pure-bd-top-1 | .pure-bd-top-2 | .pure-bd-top-3 | .pure-bd-top-4 | .pure-bd-top-5
@for $i from 1 through 5 {
  .pure-bd-#{$i} {
    border-width: #{$i}px;
    border-style: solid;
  }

  .pure-bd-bottom-#{$i} {
    border-bottom-width: #{$i}px;
    border-bottom-style: solid;
  }

  .pure-bd-left-#{$i} {
    border-left-width: #{$i}px;
    border-left-style: solid;
  }

  .pure-bd-right-#{$i} {
    border-right-width: #{$i}px;
    border-right-style: solid;
  }

  .pure-bd-top-#{$i} {
    border-top-width: #{$i}px;
    border-top-style: solid;
  }
}

// .pure-bd-black | .pure-bd-blue | .pure-bd-cyan | .pure-bd-green | .pure-bd-grey
// .pure-bd-magenta | .pure-bd-red | .pure-bd-white | .pure-bd-yellow 
@each $colorName, $rbgVar in $rgb-color-variables {
  .pure-bd-#{$colorName} {
    border-color: rgba(var(#{$rbgVar}), var(--pureBdOpacity));
  }
}

// .pure-bd-alpha-10 | .pure-bd-alpha-20 | .pure-bd-alpha-25 | .pure-bd-alpha-30 
// .pure-bd-alpha-40 | .pure-bd-alpha-50 | .pure-bd-alpha-60 | .pure-bd-alpha-70 
// .pure-bd-alpha-75 | .pure-bd-alpha-80 | .pure-bd-alpha-90 | .pure-bd-alpha-100
@each $opacity in $pure-opacities {
  .pure-bd-alpha-#{$opacity} {
    --pureBdOpacity: 0.#{$opacity};
  }
}

.pure-bd-dashed {
  border-style: dashed;
}

.pure-bd-dotted {
  border-style: dotted;
}

.pure-bd-solid {
  border-style: solid;
}

// .pure-bd-radius-1 | .pure-bd-radius-2 | .pure-bd-radius-3 | .pure-bd-radius-4 | .pure-bd-radius-5
@for $i from 1 through 5 {
  .pure-bd-radius-#{$i} {
    border-radius: #{$i * 0.25}rem;
  }
}

.pure-bd-radius-circle {
  border-radius: 50%;
}

.pure-bd-radius-pill {
  border-radius: 50rem;
}
